#%RAML 1.0
title: User API
version: v1
description: User Module
baseUri: http://acc.com/{version}/user
mediaType: application/json
/login:
  description: Validate the user credential
  post:
    body: 
      application/json:
        description: Provide the login information
        example: |
                {
                    "patientId": 32323,
                    "password": "Adsd#d",
                    "deviceId": "3333343",
                    "device": "Andriod"
                }
          
    responses:
      200:
        body: 
          application/json:
            example: |
               {
                 "status": true,
                 "patientId": 1,
                 "name": "Ashish",
                 "userEmail": "abc@xyz.com",
                 "accessToken": "289dhd8h4kjnfjk89248h4f894398g989fafa7f9a7fa793g298",
                 "message": "login successfull",
                 "statusCode": 200
                }
      401:
        body: 
          application/json:
            example: |
               {
                  "status": "false",
                  "errorMessage": "Login Failed",
                  "errorCode": "1001",
                  "statusCode": "401"
                }
/getPatientById:
  description: Get user detail by there ID
  get:
    queryParameters: 
      patientId:
        description: "Give the patient ID"
        required: true
        minLength: 3
        type: string
        example: "23455"
    responses: 
      201:
        body: 
          application/json:
            example: |
              "test"
      200:
        body: 
          application/json:
            example: | 
              {
               "status": "true",
                "user_id": 1,
                 "user_group": 1,
                 "details": {
                    "name": "Amit Singh",
                    "email": "",
                   },
                 "status": "Active",
                 "last_login": "YYYY-MM-DD H:i:s", "output_param1": "",
                 "output_param2": "",
                 "output_param3": "",
                 "output_param4": ""
               "message" : "Success",
               "statusCode": "200"
                }
      401:
        body: 
          application/json:
            example: |
              {
                 "status": "false",
                 "errorMessage": "User ID doesn't exist",
                 "errorCode": "1002",
                 "statusCode": "401"
                }
/forgotPassword:
    description: Send the OTP to the target system
    post:
      body: 
        application/json:
          description: Provide the login information
          example: |
            {
              "patientId": "32323",
              "otpType": "1" 
            }
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                  "status" : "true",
                  "message" : "Otp send to your registered mobile no",
                  "statusCode": "200" 
                }
        401:
           body: 
            application/json:
              example: |
                {
                   "status": "false",
                   "errorMessage": "OTP not matched",
                   "errorCode": "1001",
                   "statusCode": "401"
                }
/verifyOTP:
    description: Validate the OTP
    post:
      body: 
        application/json:
          description: Provide the login information
          example: |
            { 
              "patientId": "32323",
              "OTP": "434343",
              "otpType": "1"
            }
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                  "status": "true",
                  "message" : "otp verified",
                  "statusCode": "200" 
                }
        401:
           body: 
            application/json:
              example: |
               {
                 "status": "false",
                 "errorMessage": "OTP not matched",
                 "errorCode": "1001",
                 "statusCode": "401" 
               }
/resetPassword:
    description: Reset Password after correct OTP
    post:
      body: 
        application/json:
          description: Provide the login information
          example: |
            { 
              "patientId": "32323",
              "newPass": "A33#ds" 
            }
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                  "status": "true",
                  "message" : "Password reset successful",
                  "statusCode": "200"
                }
        403:
           body: 
            application/json:
              example: |
                {
                  "status": "false",
                 "errorMessage": "Unable to reset the password",
                 "errorCode": "1002",
                 "statusCode": "403"
                }
/getAgreementStatus:
    description: Check Agreement Status
    get:
      queryParameters: 
        patientId:
          description: "Give the patient ID"
          required: true
          minLength: 3
          type: string
          example: "23455"
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                   "status": "true",
                   "agreementStatus": "Accepted",
                   "message" : "Terms & conditions already accepted",
                   "statusCode": "200"
                }
        401:
           body: 
            application/json:
              example: |
                {
                 "status": "false",
                 "errorMessage": "Not Accepted",
                 "errorCode": "1002",
                 "statusCode": "401"
                }
/saveAgreementStatus:
    description: Agreement saving API
    post:
      body: 
        application/json:
          description: Provide the login information
          example: |
            { 
             "patientId": 1001,
             "isAgree": "Yes" 
            }
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                  "status": "true",
                  "message": "save successfully",
                  "statusCode": "200"
                }
        403:
           body: 
            application/json:
              example: |
                {
                 "status": "false",
                 "errorMessage": "Unable to save the agreement",
                 "errorCode": "1002",
                 "statusCode": "403"
                }
/changePassword:
    description: Change Password API
    post:
      body: 
        application/json:
          description: Provide the login information
          example: | 
            { 
             "patientId": "32323",
              "oldPass": "B33#ds",
              "newPass": "A33#ds"
            }
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                "status": "true",
                "message": "password changed successfully",
                "statusCode": "200" 
                }
        400:
           body: 
            application/json:
              example: |
                {
                  "status": "false",
                  "errorMessage": "Unable to change the password",
                  "errorCode": "105",
                  "statusCode": "400"
                 } 
/guestSignUp:
    description: Submit the guest from to the target system
    post:
      body: 
        application/json:
          description: Provide the login information
          example: |
            {
             "firstName": "neeraj",
             "lastName": "kumar",
             "mobile": "7499983533",
             "email": "neerajarya8243@gmail.com"
            }
      responses:
        200:
          body: 
            application/json:
              example: |
                {
                  "status": true,
                  "message": "save successfully",
                  "statusCode": 200 
                }
        401:
           body: 
            application/json:
              example: |
                {
                   "status": "false",
                   "errorMessage": "OTP not matched",
                   "errorCode": "1001",
                   "statusCode": "401"
                }
/logoutApp:
  description: Logout from the device
  post:
    body: 
      application/json:
        description: The input paylod from logout the system.
        example: |
          {
            "patientId": 32323,
            "deviceId": "",
            "device": "Andriod"
          }          
    responses:
      200:
        body: 
          application/json:
            example: |
               {
                    "status": true,
                    "message": "logout successful",
                    "statusCode": 200
                }
      403:
        body: 
          application/json:
            example: |
               {
                 "status": false,
                 "errorMessage": "Unable to logout from the system",
                 "errorCode": "105",
                 "statusCode": 403
                }