#%RAML 1.0
title: Doctor API
version: v1
description: Doctor Module
baseUri: http://acc.com/doctor-api/{version}
mediaType: application/json
/getDoctorDashboardDetail:
  description: Get the Doctor details for the dashboard
  post:
    body: 
      application/json:
        description: Provide doctor id as well date filter
        example: |
                {
                   "doctor_id": "",
                   "date_filter": ""
                }
          
    responses:
      200:
        body: 
          application/json:
            example: |
               {
                  "status": true,
                  "statistic_report": {
                    "patient_fbs_scale": "",
                    "patient_ppbs_scale": "",
                    "patient_rbs_scale": "",
                    "patient_bp_scale": "",
                    "patient_bg_scale": "",
                    "output_param1": "",
                    "output_param2": "",
                    "output_param3": "",
                    "output_param4": ""
                 },
                 "summary_report": [{
                    "patient_id": "",
                    "patient_name": "",
                    "patient_dob": "",
                    "output_param1": "",
                    "output_param2": "",
                    "output_param3": "",
                    "output_param4": ""
                 }],
                  "message": "login successfull",
                  "statusCode": "200"
                }
      401:
        body: 
          application/json:
            example: |
               {
                  "status": "false",
                  "errorMessage": "Doctor ID doesn't exist",
                  "errorCode": "1001",
                  "statusCode": "401"
                }
